<!-- Master Layout -->
{% extends '../layouts/master.html'%}

{% load static %}

<!-- Page Title Block -->
{% block title %}About Page | NS RealEstate Properties{% endblock %}

<!-- Body Block -->
{% block content %}

    <!-- Breadcrum Bar -->
    {% include '../partials/breadcrumb.html'%}

    <!-- About Page -->
    <section id="about" class="py-4">
        <div class="container">
            <div class="row">
                {% if not topSeller %}
                <div class="col-md-12">
                    <h2>We Search For The Perfect Home</h2>
                    <p class="lead">We provides a detailed about page with a hi-res professional headshot!</p>
                    <img src="{% static 'assets/img/about.jpg' %}" alt="BT Estate About Page">
                    <p class="mt-4">
                        Placester real estate websites for agents and brokers offer the ability to easily
                        build, update and optimize an effective online presence for your real estate business. 
                        We’ve seen countless REALTORS® use Placester websites to boost their branding, promote 
                        their expertise, increase site traffic, and capture valuable leads.
                    </p>
                </div>
                {% else %}
                <div class="col-md-8">
                    <h2>We Search For The Perfect Home</h2>
                    <p class="lead">We provides a detailed about page with a hi-res professional headshot and offers an extensive network of area pages for all the planned communities she serves!</p>
                    <img src="{% static 'assets/img/about.jpg' %}" alt="BT Estate About Page">
                    <p class="mt-4">
                        Placester real estate websites for agents and brokers offer the ability to easily
                        build, update and optimize an effective online presence for your real estate business. 
                        We’ve seen countless REALTORS® use Placester websites to boost their branding, promote 
                        their expertise, increase site traffic, and capture valuable leads.
                    </p>
                </div>
                
                <!-- Top Seller -->
                {% include '../partials/topseller.html' with topSeller=topSeller %}

                {% endif %}
            </div>
        </div>
    </section>

    <!-- Work -->
    <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <h4>We offers an extensive network of area pages for all the planned communities she serves!</h4>
        <hr>
        <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
    </section>

    <!-- Team -->
    <section id="team" class="py-5">
        <div class="container">
            {% if realtors %}
            <h2 class="text-center">Our Team</h2>
            <div class="row text-center">
                {% for realtor in realtors %}
                <div class="col-md-4">
                    <img src="{{ realtor.avatar.url }}" alt="{{ realtor.name }}" class="rounded-circle mb-3">
                    <h4>{{ realtor.name }}</h4>
                    <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i> Realtor <i class="fas fa-dragon text-success mb-3"></i>
                    </p>
                    <hr>
                    <p>
                        <i class="fas fa-phone"></i> {{ realtor.phone }}
                    </p>
                    <p>
                        <i class="fas fa-envelope-open"></i> {{ realtor.email }}
                    </p>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="text mute">Something Went Wrong</h2>
                    <a href="#" class="text-center btn btn-sm btn-danger">Report</a>
                </div>
            </div>
            {% endif %}

            </div>
        </div>
    </section>
{% endblock %}